
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using(Html.BeginForm("Upload","Product")){

    @Html.ValidationSummary(true)
    <ol>
        <li
            <input type="file" id="fileToUpload" name ="file"  />
            <span class="field-validation-error" id="spanfile"></span>
        </li>
    </ol>
    <input type="submit" name="btnSubmit" value="Upload" />
}

